/* Alerts */
.alert {
  background-color: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}
.alert:empty {
  display: none;
}

/* Navigation links */
header nav {
  margin: 0 auto;
  max-width: 45rem;
}
header nav :first-child {
  float: left;
}
header nav :last-child {
  float: right;
}
nav a {
  margin: 1rem;
}
section nav a {
  text-align: center;
  display: block;
}


/* Make container class of a normal width and center it */
.container{
  width: 1200px !important;
  align-self: center;
}

#ranking-table-tr:nth-child(1){
  font-weight: bold;
}

#ranking-table-tr:nth-child(2){
  font-weight: bold;
}

#ranking-table-tr:nth-child(3){
  font-weight: bold;
}
